extends layout



block content
  h1= title
  p Welcome to #{title}
  
  - if (plop)
    h2=plop
  
  form(action = "/inscription" method="post")
    input(name = "coco" value = "hi")
    button(name="submit") button