doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Carea
    // Bootstrap core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='Js/bootstrap.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // Custom styles for this template
    link(href='../stylesheets/Style.css', rel='stylesheet')
  //
    NAVBAR
    ==================================================
  body
    if session
      include ./navbar_connect.jade
    else
      include ./navbar_unconnect.jade
    .container-fluid.marg-nav
      .row
        .col-sm-12
          h1(style='text-align:center') CAREA
    br
    .container-fluid
      .row
        .col-sm-12
          h3(style='text-align:center') En quelques mots
    br
    // Corps de présentation
    br
    .container-fluid
      .row
        .col-sm-12
          p(style='text-align:center')
      | Nous avons créé cette plateforme car notre constat était le suivant :
      br
      | Le covoiturage reste très impersonnel, et malgré la volonté de nos concurrents
      br
      | de mettre en avant le côté friendly du covoiturage,il est souvent difficile de
      br
      | le retrouver pleinement. Nous avons donc décidé de vous permettre de créer un véritable
      br
      | réseau intelligent autour du covoiturage, vous permettant de visualiser vos trajets ponctuels,
      br
      | quotidiens, hebdomadaires ou mensuels, le tout avec des personnes que vous connaissez, ou qui
      br
      | se trouvent à proximité de votre lieu de résidence. En bref, soit vous voyagez avec des personnes
      br
      | de votre entourage,soit avec des personnes de votre quartier.
    br
    br
    br
    footer
      p.pull-right
        a(href='#') Back to top
      p(style='text-align:center')
        | © 2016 CARea · 
        a(href='/construc') Privacy
        |  · 
        a(href='index_faq.html') FAQ
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='Js/bootstrap.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
