doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title CARea
    // Bootstrap core CSS
    link(href='../Stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='app.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // API Google Maps
    script(src='http://maps.googleapis.com/maps/api/js')
    script.
      function initialize() {
      var mapProp = {
      center:new google.maps.LatLng(48.8566140, 2.3522219),
      zoom:12,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    // Custom styles for this template
    link(rel='stylesheet', type='text/css', href='../Stylesheets/Style.css')
  //
    NAVBAR
    ==================================================
  body
    if session
      include ./navbar_connect.jade
    else
      include ./navbar_unconnect.jade
      .container-fluid.marg-nav
      .row
        .col-sm-12
          h1(style='text-align:center;color:black') CARea
    .container-fluid
      .row
        .col-sm-12
          h3(style='text-align:center') Annonces proche de vous
    // Corps de présentation
    br
    br
    .container-fluid
      .row
        .col-sm-6
          .list-group
            a.list-group-item(href='#')
              .row
                p.col-xs-6
                  | Super Ami
                  br
                  |                                     Je propose une voiture
                  br
                  |                                     Marseille
                  br
                  |                                     superAmi@carea.com
                  br
                p.col-xs-6
                  | le 02/05/16
                  br
                  |                                     à 13h30
                  br
                  |                                     0606060606
                  br
                  |                                     3 places disponibles
            a.list-group-item(href='#') Item 2
            a.list-group-item(href='#') Item 3
            a.list-group-item(href='#') Item 4
            a.list-group-item(href='#') Item 5
            a.list-group-item(href='#') Item 6
            a.list-group-item(href='#') Item 7
            a.list-group-item(href='#') Item 8
            a.list-group-item(href='#') Item 9
            a.list-group-item(href='#') Item 10
            a.list-group-item(href='#') Item 11
        .container-fluid
          .col-sm-6
            #googleMap.img-responsive(style='width:100%;height:600px')
    br
    br
    br
    .clear
    .footer-p
      footer#footer.site-footer
        section.site-footer-bottom
          ul.display
            li
              ul
                li.dispi
                  | ©2016 CARea
                  a
                li.dispi
                  a(href='/construct') Legal Notice
                  a
                li.dispi
                  a(href='/faq') FAQ