doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title CARea
    // Bootstrap core CSS
    link(href='../Stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='app.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // Custom styles for this template
    link(rel='stylesheet', type='text/css', href='../Stylesheets/Style.css')
  //
    NAVBAR
    ==================================================
  body
    if session
      include ./navbar_connect.jade
    else
      include ./navbar_unconnect.jade
      // Carousel de tete
      .container-fluid.marg-nav
        .row
          .col-sm-12
            img.img-responsive(src='', id='')
      h2(style='text-align:center') Mes Amis
      // Corps de présentation
      .container-fluid
        .row
          .col-md-offset-3.col-md-6
            .list-group(style='text-align:center')
              a.list-group-item(href='#')
                tr
                  td SuperAmi
                  td SuperAmi@carea.com
                  td 0666666666
              a.list-group-item(href='#') item 2
              a.list-group-item(href='#') item 3
              a.list-group-item(href='#') item 4
              a.list-group-item(href='#') item 5
              a.list-group-item(href='#') item 6
              a.list-group-item(href='#') item 7
              a.list-group-item(href='#') item 8
              a.list-group-item(href='#') item 9
              a.list-group-item(href='#') item 10
    .footer-p
      footer#footer.site-footer
        section.site-footer-bottom
          ul.display
            li
              ul
                li.dispi
                  | ©2016 CARea
                  a
                li.dispi
                  a(href='/construct') Legal Notice
                  a
                li.dispi
                  a(href='/faq') FAQ
