doctype html
html(lang='en')
  head  
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title CARea
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    link(href='/stylesheets/bootstrap/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/carousel.css', rel='stylesheet', type='text/css')
  //
    NAVBAR
    ==================================================
  body
    .navbar-wrapper
      .container
        nav.navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='http://127.0.0.1:8000/index') CARea
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='http://127.0.0.1:8000/about') A propos / About
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='http://127.0.0.1:8000/signup')
                    span.glyphicon.glyphicon-user
                    |  S'inscrire / Sign up
                li
                  a(href='http://127.0.0.1:8000/signin')
                    span.glyphicon.glyphicon-log-in
                    |  Se connecter / Sign in
    //
      Carousel
      ==================================================
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner(role='listbox')
        .item.active
          img.first-slide(src='Pages/Images/logo_header.jpg', alt='First slide', style='size: 0 auto')
          .container
            .carousel-caption
              h1 CARea
              p
                a.btn.btn-secondary.btn-fat(href='Pages/index_signup.html', role='button') S'inscrire
        .item
          img.second-slide(src='Pages/Images/prochainement.jpg', alt='Second slide')
          .container
            .carousel-caption
              p
                a.btn.btn-secondary.btn-fat(href='#', role='button') Prochainement
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span(aria-hidden='true') <
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span(aria-hidden='true') >
        span.sr-only Next
    // /.carousel
    //
      Marketing messaging and featurettes
      ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
          h2 Heading
          p
            | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
          p
            a.btn.btn-default(href='#', role='button') View details »
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
          h2 Heading
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#', role='button') View details »
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
          h2 Heading
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn.btn-default(href='#', role='button') View details »
        // /.col-lg-4
      // /.row
      // START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | First featurette heading. 
            span.text-muted It'll blow your mind.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7.col-md-push-5
          h2.featurette-heading
            | Oh yeah, it's that good. 
            span.text-muted See for yourself.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5.col-md-pull-7
          img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly, this one. 
            span.text-muted Checkmate.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
    // FOOTER
    footer#footer.site-footer
      section.fluid-container
        .site-footer-top
      section.site-footer-bottom
        ul.display
          li.dispi
            ul.dispi
              li.dispi
                | ©2016 CORP.
                a  
              li.dispi
                a(href='#') Legal Notice
                a  
              li.dispi
                a(href='#') Terms of use
// /.container
