doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Carea
    // Bootstrap core CSS
    link(href='../Stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='app.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // Custom styles for this template
    link(rel='stylesheet', type='text/css', href='../Stylesheets/Style.css')
  // NAVBAR ==================================================
  body
    if session
      include ./navbar_connect.jade
    else
      include ./navbar_unconnect.jade
    // Page de profil
    .container-fluid.marg-nav
      .row
        .col-sm-offset-3.col-md-6
          form(action='profilEdit', method='post', style='text-align:center')
            input(type='hidden', name='_csrf', value='csrf')
            .row
              .col-md-offset-2.col-md-6
                h1(style='color:#101010') Edition de profil
                br
                br
                .form-group
                  label(for='firstName') Nom
                  input.form-control(type='text', name='firstName', disabled='disabled')
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='lastName') Prénom
                  input.form-control(type='text', name='lastName', disabled='disabled')
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='timeA') Pseudo
                  input.form-control(type='text', name='username', disabled='disabled')
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='phone') Mobile
                  input.form-control(type='tel', name='phone')
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='voiture') Adresse de domicile
                  input.form-control(type='text', name='adresseDomicile')
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='mail') Adresse Email
                  input.form-control(type='text', name='email')
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='voiture') Avez-vous un vehicule ?
                  select#voiture(name='voiture')
                    option(value='Oui') Oui
                    option(value='Non') Non
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='voiture') Combien de place avez-vous dans votre voiture ?
                  select#voiture(name='voiture')
                    option(value='Oui') 1
                    option(value='Non') 2
                    option(value='Non') 3
                    option(value='Non') 4
                    option(value='Non') 5
                    option(value='Non') 6
                    option(value='Non') 7
            br
            br
            br
            .row
              .col-md-12
                .col-md-offset-2.col-md-6
                  input.btn.btn-secondary.btn-fat(type='submit', value='Sauvegarder')
              br
              br
    br
    br
    br
    footer#footer.site-footer
      section.site-footer-bottom
        ul.display
          li.dispi
            ul.dispi
              li.dispi
                | ©2016 CORP.
                a  
              li.dispi
                a(href='#') Legal Notice
                a  
              li.dispi
                a(href='#') Terms of use
