doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title CARea
    // Bootstrap core CSS
    link(href='../Stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='app.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // Custom styles for this template
    link(rel='stylesheet', type='text/css', href='../stylesheets/Style.css')
  //
    NAVBAR
    ==================================================
  body
    if session
      include ./navbar_connect.jade
    else
      include ./navbar_unconnect.jade
      .container-fluid.marg-nav
        .row
          .col-sm-12
            .Recherche(class="d'annonce")
              h2(style='text-align:center') Recherche d'annonce
      .container-fluid
        .row
          .col-sm-offset-4.col-md-4
            form(action='recherche', method='get', style='text-align:center')
              input(type='hidden', name='_csrf', value='csrf')
              .row
                .col-md-offset-2.col-md-3
                  .form-group
                    label(for='date') Date
                    input.form-control(type='date', name='date')
              .row
                .col-md-offset-2.col-md-3
                  .form-group
                    label(for='timeD') Heure de départ
                    input.form-control(type='time', name='timeD')
                .col-md-offset-2.col-md-3
                  .form-group
                    label(for='timeA') Heure d'arrivée
                    input.form-control(type='time', name='timeA')
              .row
                .col-md-offset-2.col-md-8
                  .form-group
                    label(for='adresseD') Adresse de départ
                    input.form-control(type='text', name='adresseD', disabled='disabled')
              .row
                .col-md-offset-2.col-md-8
                  .form-group
                    label(for='voiture') Avez-vous une voiture ?
                    select#voiture(name='voiture')
                      option(value='Oui') Oui
                      option(value='Non') Non
              .row
                .col-md-offset-2.col-md-8
                  .form-group
                    label(for='adresseA') Ville d'arrvée
                    input.form-control(type='text', name='postalCode', placeholder='Code postal')
              br
              br
              br
              .container-fluid
                .row
                  .col-sm-12
                    div
                      input.btn.btn-secondary.btn-fat(type='submit', value='Rechercher', style='text-align:center')
                br
                br
                .container-fluid
                  .row
                    .col-sm-12
                      a.text(href='crea.html', style='text-align:center') Créer une annonce
      br
      br
      br
      br
      .footer-p
        footer#footer.site-footer
          section.site-footer-bottom
            ul.display
              li
                ul
                  li.dispi
                    | ©2016 CARea
                    a  
                  li.dispi
                    a(href='#') Legal Notice
                    a  
                  li.dispi
                    a(href='index_faq.html') FAQ
      script(src='https://code.jquery.com/jquery-1.11.3.min.js')
      script(src='app.js')
      // jQuery (necessary for Bootstrap's JavaScript plugins)
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
      // Include all compiled plugins (below), or include individual files as needed
      // Latest compiled and minified JavaScript
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
