doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title CARea
    // Bootstrap core CSS
    link(href='../stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='../javascript/bootstrap.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // Custom styles for this template
    link(href='../stylesheets/Style.css', rel='stylesheet')
  //
    NAVBAR
    ==================================================
  body
    if session
      include ./navbar_connect.jade
    else
      include ./navbar_unconnect.jade
    .container-fluid.marg-nav
      .row
        .main
          .col-md-offset-4.col-md-4
            h2(style='text-align:center') Sign in
            form.form-horizontal(action='/signin', name='login', role='form', method='post', accept-charset='utf-8')
              input(type='hidden', name='_csrf', value= 'csrf')
              .form-group
                .col-md-15
                  input#UserUsername.form-control(name='email', placeholder='Login', type='text', style='text-align:center')
              .form-group
                .col-md-15
                  input#UserPassword.form-control(name='password', placeholder='Password', type='password', style='text-align:center')
              .form-group
                .col-md-offset-3.col-md-15
                  input.btn.btn-success.btn-fat(type='submit', value='Connect')
    .footer-p
      footer#footer.site-footer
        section.site-footer-bottom
          ul.display
            li
              ul
                li.dispi
                  | ©2016 CARea
                  a
                li.dispi
                  a(href='/construct') Legal Notice
                  a
                li.dispi
                  a(href='/faq') FAQ
